/* General styling */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: normal 16px Poppins;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


button {
  text-decoration: none;
  transition: opacity 0.5s;
  color: #fff;
}

button:hover {
  opacity: 0.75;
}

button{
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1;
  padding: 20px 15px;
}
